<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Users {{user.id}}</title>
</head>
<body>
    
    <h1>Edit User {{user.id}}</h1>
    <form action='/update/{{user.id}}' method='post'>
        {%csrf_token%}
        First name:<br/>
        <input type='text' name='first_name'><br/>
        Last name:<br/>
        <input type='text' name='last_name'><br/>
        Email:<br/>
        <input type='text' name='email'><br/>
        <input type='submit' name='Update'>
    </form>
    <br/>

    <a href='/show/{{user.id}}'>Show</a> | <a href='/'>Go Back</a>



</body>
</html>